body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
}
.bg{
    height: 900px;
}
.footer{

    color: white;
    margin-bottom: 15px;
}
nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h3, h4{
    color: white;
}
table{
    width: 30%;
    color: white;
}
.table1 {
        width: 70%; /* Set lebar tabel menjadi 100% dari lebar kontainer */
        border-collapse: collapse; /* Menggabungkan border-cells */
        margin-top: 20px; /* Memberikan margin di atas tabel */
    }

    th, td {
        border: 1px solid #8b8b8b; /* Atur border untuk sel header dan sel data */
        text-align: left; /* Rata kiri teks di sel header dan sel data */
        padding: 8px; /* Beri padding pada sel */
    }
    th {
        background-color: rgb(167, 62, 167); /* Warna latar belakang sel header */
    }

    tbody tr:nth-child(odd) {
        background-color: #9c4783; /* Warna latar belakang untuk baris-genap di tbody */
    }

    tbody tr:hover {
        background-color: #c54b88; /* Warna latar belakang saat cursor diarahkan pada baris */
    }
.home{
    padding: 30px;
    color: white;
}
.login-cont {
    float: right;
    padding: 14px 16px;
}

.login {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6200ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 130px;
    height: 40px;
}
.title-cont{
    padding: 16px;
    width: 100%;

    color: white;
    background-image: url('../img/purple.jpg');
}
.btn1{
    background-color: #6200ff;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn2{
    background-color: #d41313;

    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn1 a{
    text-decoration: none;
    color: white;
}
.btn2 a{
    text-decoration: none;
    color: white;
}
.btn-data{
    float: left;
    margin-left: 300px;
    background-color: #6200ff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.tambah-data a{
    text-decoration: none;

}

.table tr{
    background-color: rgb(44, 2, 44);
}
.home-cont{
    float: left;
    padding: 14px 16px;
}
.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: white;
    padding: 10px 15px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login:hover {
    background-color: #4809ac;
}
.home-btn:hover{
    background-color: rgb(75, 8, 75);
}
.btn1:hover{
    background-color: #4809ac;
}
.btn2:hover{
    background-color: #8a1313;
}
.btn-data:hover{
    background-color: #4809ac;
}